

.navli {
    background-color: #123456;
    margin-top: 16px!important;
}
.navli a:hover{
    background-color: rgb(55, 53, 77);
}

.in{
    border: 1px solid rgb(39, 36, 85);
}

.form{
    margin-left: 20px;

}
.pli{
    margin-left: -100px;
}
.aborder{
    border-bottom: 1px solid white;
}
.aborder:hover{
    background-color: rgb(29, 32, 31);
}